<a href="https://colab.research.google.com/github/vaughanroberts13/APIlearninz/blob/main/TriviaProject3_VRO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create link

In [ ]:
import pandas as pd

In [ ]:
triviadata1 = pd.read_csv('JEOPARDY_CSV.csv')

In [ ]:
triviadata1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1    Air Date    216930 non-null  object
 2    Round       216930 non-null  object
 3    Category    216930 non-null  object
 4    Value       213296 non-null  object
 5    Question    216930 non-null  object
 6    Answer      216927 non-null  object
dtypes: int64(1), object(6)
memory usage: 11.6+ MB

In [ ]:
triviadata1.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [ ]:
triviadata1[' Air Date'].value_counts()

 Air Date
5/19/1997     62
11/13/2007    62
11/1/2011     61
2/5/1993      61
2/15/2000     61
              ..
6/26/2000     30
1/27/2012     30
9/3/1996      30
10/21/1997    16
10/18/1989    12
Name: count, Length: 3640, dtype: int64

In [ ]:
triviadata1 =  triviadata1.rename(columns={" Air Date": "Air_Date",
                            " Round": "Round",
                            " Category": "Category",
                            " Value": "Value",
                            " Question": "Question",
                            " Answer": "Answer"})

In [ ]:
triviadata1["Air_Date"] = pd.to_datetime(triviadata1.Air_Date)
triviadata1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Show Number  216930 non-null  int64
 1   Air_Date     216930 non-null  datetime64[ns]
 2   Round        216930 non-null  object
 3   Category     216930 non-null  object
 4   Value        213296 non-null  object
 5   Question     216930 non-null  object
 6   Answer       216927 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 11.6+ MB

In [ ]:
triviadata1["Category"].value_counts()

Category
BEFORE & AFTER                   547
SCIENCE                          519
LITERATURE                       496
AMERICAN HISTORY                 418
POTPOURRI                        401
                                ...
POTPOURRI...NO FOOLIN'             1
BRITISH PAINTERS                   1
MIDWAY ISLAND                      1
THE OXFORD ENGLISH DICTIONARY      1
EXPLORING                          1
Name: count, Length: 27983, dtype: int64